<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Jost-Black.ttf</string>
		<string>Jost-BlackItalic.ttf</string>
		<string>Jost-Bold.ttf</string>
		<string>Jost-BoldItalic.ttf</string>
		<string>Jost-ExtraBold.ttf</string>
		<string>Jost-ExtraBoldItalic.ttf</string>
		<string>Jost-ExtraLight.ttf</string>
		<string>Jost-ExtraLightItalic.ttf</string>
		<string>Jost-Italic.ttf</string>
		<string>Jost-Light.ttf</string>
		<string>Jost-LightItalic.ttf</string>
		<string>Jost-Medium.ttf</string>
		<string>Jost-MediumItalic.ttf</string>
		<string>Jost-Regular.ttf</string>
		<string>Jost-SemiBold.ttf</string>
		<string>Jost-SemiBoldItalic.ttf</string>
		<string>Jost-Thin.ttf</string>
		<string>Jost-ThinItalic.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-ExtraBoldItalic.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-ExtraLightItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-SemiBoldItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RubikScribble-Black.ttf</string>
		<string>RubikScribble-BlackItalic.ttf</string>
		<string>RubikScribble-Bold.ttf</string>
		<string>RubikScribble-BoldItalic.ttf</string>
		<string>RubikScribble-ExtraBold.ttf</string>
		<string>RubikScribble-ExtraBoldItalic.ttf</string>
		<string>RubikScribble-ExtraLight.ttf</string>
		<string>RubikScribble-ExtraLightItalic.ttf</string>
		<string>RubikScribble-Italic.ttf</string>
		<string>RubikScribble-Light.ttf</string>
		<string>RubikScribble-LightItalic.ttf</string>
		<string>RubikScribble-Medium.ttf</string>
		<string>RubikScribble-MediumItalic.ttf</string>
		<string>RubikScribble-Regular.ttf</string>
		<string>RubikScribble-SemiBold.ttf</string>
		<string>RubikScribble-SemiBoldItalic.ttf</string>
		<string>RubikScribble-Thin.ttf</string>
		<string>RubikScribble-ThinItalic.ttf</string>
		<string>Merriweather-Black.ttf</string>
		<string>Merriweather-BlackItalic.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-BoldItalic.ttf</string>
		<string>Merriweather-ExtraBold.ttf</string>
		<string>Merriweather-ExtraBoldItalic.ttf</string>
		<string>Merriweather-ExtraLight.ttf</string>
		<string>Merriweather-ExtraLightItalic.ttf</string>
		<string>Merriweather-Italic.ttf</string>
		<string>Merriweather-Light.ttf</string>
		<string>Merriweather-LightItalic.ttf</string>
		<string>Merriweather-Medium.ttf</string>
		<string>Merriweather-MediumItalic.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Merriweather-SemiBold.ttf</string>
		<string>Merriweather-SemiBoldItalic.ttf</string>
		<string>Merriweather-Thin.ttf</string>
		<string>Merriweather-ThinItalic.ttf</string>
		<string>Ubuntu-Black.ttf</string>
		<string>Ubuntu-BlackItalic.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-ExtraBold.ttf</string>
		<string>Ubuntu-ExtraBoldItalic.ttf</string>
		<string>Ubuntu-ExtraLight.ttf</string>
		<string>Ubuntu-ExtraLightItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Ubuntu-SemiBold.ttf</string>
		<string>Ubuntu-SemiBoldItalic.ttf</string>
		<string>Ubuntu-Thin.ttf</string>
		<string>Ubuntu-ThinItalic.ttf</string>
		<string>WorkSans-Black.ttf</string>
		<string>WorkSans-BlackItalic.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-BoldItalic.ttf</string>
		<string>WorkSans-ExtraBold.ttf</string>
		<string>WorkSans-ExtraBoldItalic.ttf</string>
		<string>WorkSans-ExtraLight.ttf</string>
		<string>WorkSans-ExtraLightItalic.ttf</string>
		<string>WorkSans-Italic.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-LightItalic.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-MediumItalic.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>WorkSans-SemiBoldItalic.ttf</string>
		<string>WorkSans-Thin.ttf</string>
		<string>WorkSans-ThinItalic.ttf</string>
		<string>Workbench-Black.ttf</string>
		<string>Workbench-BlackItalic.ttf</string>
		<string>Workbench-Bold.ttf</string>
		<string>Workbench-BoldItalic.ttf</string>
		<string>Workbench-ExtraBold.ttf</string>
		<string>Workbench-ExtraBoldItalic.ttf</string>
		<string>Workbench-ExtraLight.ttf</string>
		<string>Workbench-ExtraLightItalic.ttf</string>
		<string>Workbench-Italic.ttf</string>
		<string>Workbench-Light.ttf</string>
		<string>Workbench-LightItalic.ttf</string>
		<string>Workbench-Medium.ttf</string>
		<string>Workbench-MediumItalic.ttf</string>
		<string>Workbench-Regular.ttf</string>
		<string>Workbench-SemiBold.ttf</string>
		<string>Workbench-SemiBoldItalic.ttf</string>
		<string>Workbench-Thin.ttf</string>
		<string>Workbench-ThinItalic.ttf</string>
		<string>BebasNeue-Black.ttf</string>
		<string>BebasNeue-BlackItalic.ttf</string>
		<string>BebasNeue-Bold.ttf</string>
		<string>BebasNeue-BoldItalic.ttf</string>
		<string>BebasNeue-ExtraBold.ttf</string>
		<string>BebasNeue-ExtraBoldItalic.ttf</string>
		<string>BebasNeue-ExtraLight.ttf</string>
		<string>BebasNeue-ExtraLightItalic.ttf</string>
		<string>BebasNeue-Italic.ttf</string>
		<string>BebasNeue-Light.ttf</string>
		<string>BebasNeue-LightItalic.ttf</string>
		<string>BebasNeue-Medium.ttf</string>
		<string>BebasNeue-MediumItalic.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>BebasNeue-SemiBold.ttf</string>
		<string>BebasNeue-SemiBoldItalic.ttf</string>
		<string>BebasNeue-Thin.ttf</string>
		<string>BebasNeue-ThinItalic.ttf</string>
		<string>Abel-Black.ttf</string>
		<string>Abel-BlackItalic.ttf</string>
		<string>Abel-Bold.ttf</string>
		<string>Abel-BoldItalic.ttf</string>
		<string>Abel-ExtraBold.ttf</string>
		<string>Abel-ExtraBoldItalic.ttf</string>
		<string>Abel-ExtraLight.ttf</string>
		<string>Abel-ExtraLightItalic.ttf</string>
		<string>Abel-Italic.ttf</string>
		<string>Abel-Light.ttf</string>
		<string>Abel-LightItalic.ttf</string>
		<string>Abel-Medium.ttf</string>
		<string>Abel-MediumItalic.ttf</string>
		<string>Abel-Regular.ttf</string>
		<string>Abel-SemiBold.ttf</string>
		<string>Abel-SemiBoldItalic.ttf</string>
		<string>Abel-Thin.ttf</string>
		<string>Abel-ThinItalic.ttf</string>
		<string>Bitter-Black.ttf</string>
		<string>Bitter-BlackItalic.ttf</string>
		<string>Bitter-Bold.ttf</string>
		<string>Bitter-BoldItalic.ttf</string>
		<string>Bitter-ExtraBold.ttf</string>
		<string>Bitter-ExtraBoldItalic.ttf</string>
		<string>Bitter-ExtraLight.ttf</string>
		<string>Bitter-ExtraLightItalic.ttf</string>
		<string>Bitter-Italic.ttf</string>
		<string>Bitter-Light.ttf</string>
		<string>Bitter-LightItalic.ttf</string>
		<string>Bitter-Medium.ttf</string>
		<string>Bitter-MediumItalic.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>Bitter-SemiBold.ttf</string>
		<string>Bitter-SemiBoldItalic.ttf</string>
		<string>Bitter-Thin.ttf</string>
		<string>Bitter-ThinItalic.ttf</string>
		<string>EduNSWACTFoundation-Black.ttf</string>
		<string>EduNSWACTFoundation-BlackItalic.ttf</string>
		<string>EduNSWACTFoundation-Bold.ttf</string>
		<string>EduNSWACTFoundation-BoldItalic.ttf</string>
		<string>EduNSWACTFoundation-ExtraBold.ttf</string>
		<string>EduNSWACTFoundation-ExtraBoldItalic.ttf</string>
		<string>EduNSWACTFoundation-ExtraLight.ttf</string>
		<string>EduNSWACTFoundation-ExtraLightItalic.ttf</string>
		<string>EduNSWACTFoundation-Italic.ttf</string>
		<string>EduNSWACTFoundation-Light.ttf</string>
		<string>EduNSWACTFoundation-LightItalic.ttf</string>
		<string>EduNSWACTFoundation-Medium.ttf</string>
		<string>EduNSWACTFoundation-MediumItalic.ttf</string>
		<string>EduNSWACTFoundation-Regular.ttf</string>
		<string>EduNSWACTFoundation-SemiBold.ttf</string>
		<string>EduNSWACTFoundation-SemiBoldItalic.ttf</string>
		<string>EduNSWACTFoundation-Thin.ttf</string>
		<string>EduNSWACTFoundation-ThinItalic.ttf</string>
		<string>ZillaSlab-Black.ttf</string>
		<string>ZillaSlab-BlackItalic.ttf</string>
		<string>ZillaSlab-Bold.ttf</string>
		<string>ZillaSlab-BoldItalic.ttf</string>
		<string>ZillaSlab-ExtraBold.ttf</string>
		<string>ZillaSlab-ExtraBoldItalic.ttf</string>
		<string>ZillaSlab-ExtraLight.ttf</string>
		<string>ZillaSlab-ExtraLightItalic.ttf</string>
		<string>ZillaSlab-Italic.ttf</string>
		<string>ZillaSlab-Light.ttf</string>
		<string>ZillaSlab-LightItalic.ttf</string>
		<string>ZillaSlab-Medium.ttf</string>
		<string>ZillaSlab-MediumItalic.ttf</string>
		<string>ZillaSlab-Regular.ttf</string>
		<string>ZillaSlab-SemiBold.ttf</string>
		<string>ZillaSlab-SemiBoldItalic.ttf</string>
		<string>ZillaSlab-Thin.ttf</string>
		<string>ZillaSlab-ThinItalic.ttf</string>
		<string>Caveat-Black.ttf</string>
		<string>Caveat-BlackItalic.ttf</string>
		<string>Caveat-Bold.ttf</string>
		<string>Caveat-BoldItalic.ttf</string>
		<string>Caveat-ExtraBold.ttf</string>
		<string>Caveat-ExtraBoldItalic.ttf</string>
		<string>Caveat-ExtraLight.ttf</string>
		<string>Caveat-ExtraLightItalic.ttf</string>
		<string>Caveat-Italic.ttf</string>
		<string>Caveat-Light.ttf</string>
		<string>Caveat-LightItalic.ttf</string>
		<string>Caveat-Medium.ttf</string>
		<string>Caveat-MediumItalic.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Caveat-SemiBold.ttf</string>
		<string>Caveat-SemiBoldItalic.ttf</string>
		<string>Caveat-Thin.ttf</string>
		<string>Caveat-ThinItalic.ttf</string>
		<string>AbrilFatface-Black.ttf</string>
		<string>AbrilFatface-BlackItalic.ttf</string>
		<string>AbrilFatface-Bold.ttf</string>
		<string>AbrilFatface-BoldItalic.ttf</string>
		<string>AbrilFatface-ExtraBold.ttf</string>
		<string>AbrilFatface-ExtraBoldItalic.ttf</string>
		<string>AbrilFatface-ExtraLight.ttf</string>
		<string>AbrilFatface-ExtraLightItalic.ttf</string>
		<string>AbrilFatface-Italic.ttf</string>
		<string>AbrilFatface-Light.ttf</string>
		<string>AbrilFatface-LightItalic.ttf</string>
		<string>AbrilFatface-Medium.ttf</string>
		<string>AbrilFatface-MediumItalic.ttf</string>
		<string>AbrilFatface-Regular.ttf</string>
		<string>AbrilFatface-SemiBold.ttf</string>
		<string>AbrilFatface-SemiBoldItalic.ttf</string>
		<string>AbrilFatface-Thin.ttf</string>
		<string>AbrilFatface-ThinItalic.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-BlackItalic.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-BoldItalic.ttf</string>
		<string>Orbitron-ExtraBold.ttf</string>
		<string>Orbitron-ExtraBoldItalic.ttf</string>
		<string>Orbitron-ExtraLight.ttf</string>
		<string>Orbitron-ExtraLightItalic.ttf</string>
		<string>Orbitron-Italic.ttf</string>
		<string>Orbitron-Light.ttf</string>
		<string>Orbitron-LightItalic.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-MediumItalic.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Orbitron-SemiBold.ttf</string>
		<string>Orbitron-SemiBoldItalic.ttf</string>
		<string>Orbitron-Thin.ttf</string>
		<string>Orbitron-ThinItalic.ttf</string>
		<string>Acme-Black.ttf</string>
		<string>Acme-BlackItalic.ttf</string>
		<string>Acme-Bold.ttf</string>
		<string>Acme-BoldItalic.ttf</string>
		<string>Acme-ExtraBold.ttf</string>
		<string>Acme-ExtraBoldItalic.ttf</string>
		<string>Acme-ExtraLight.ttf</string>
		<string>Acme-ExtraLightItalic.ttf</string>
		<string>Acme-Italic.ttf</string>
		<string>Acme-Light.ttf</string>
		<string>Acme-LightItalic.ttf</string>
		<string>Acme-Medium.ttf</string>
		<string>Acme-MediumItalic.ttf</string>
		<string>Acme-Regular.ttf</string>
		<string>Acme-SemiBold.ttf</string>
		<string>Acme-SemiBoldItalic.ttf</string>
		<string>Acme-Thin.ttf</string>
		<string>Acme-ThinItalic.ttf</string>
		<string>ConcertOne-Black.ttf</string>
		<string>ConcertOne-BlackItalic.ttf</string>
		<string>ConcertOne-Bold.ttf</string>
		<string>ConcertOne-BoldItalic.ttf</string>
		<string>ConcertOne-ExtraBold.ttf</string>
		<string>ConcertOne-ExtraBoldItalic.ttf</string>
		<string>ConcertOne-ExtraLight.ttf</string>
		<string>ConcertOne-ExtraLightItalic.ttf</string>
		<string>ConcertOne-Italic.ttf</string>
		<string>ConcertOne-Light.ttf</string>
		<string>ConcertOne-LightItalic.ttf</string>
		<string>ConcertOne-Medium.ttf</string>
		<string>ConcertOne-MediumItalic.ttf</string>
		<string>ConcertOne-Regular.ttf</string>
		<string>ConcertOne-SemiBold.ttf</string>
		<string>ConcertOne-SemiBoldItalic.ttf</string>
		<string>ConcertOne-Thin.ttf</string>
		<string>ConcertOne-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
